* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  background: #F4F4F4;
}

.slider {
  padding: 20px 20px 40px 20px;
  width: 300px;
  background: #00ACED;
  display: flex;
  overflow-x: hidden;
  -ms-scroll-snap-points-x: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  position: relative;
}

.slider-navigation {
  width: 300px;
  margin-top: -20px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.slider-navigation a {
  height: 8px;
  width: 8px;
  display: block;
  background: #FFFFFF;
  border-radius: 4px;
  color: transparent;
  margin-right: 4px;
}

.slider-navigation a:last-child {
  margin-right: 0;
}

.slider__slide {
  height: 300px;
  width: 300px;
  flex-shrink: 0;
  background: #FFFFFF;
  border-radius: 8px;
  margin-right: 40px;
}

.slider__slide:last-child {
  margin-right: 0;
}